<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Shareyourthoughts</h2>
  <p>Hello <%= @user.full_name %> </p>
  <br />
  <p> Your username is: <%= @user.username %> </p>
  <p> Your new password is: <%= @user.password %> </p>
  <br />
  <p>To login follow this link: <%=  link_to('HERE',root_url) %> </p>
  <br />
  <p>Thanks for using Shareyourthoughts.</p>
</body>
</html>