<div class='header'>

  <% if session[:user_id] %>
    <div class="user-info">
      <span> You are logged in as<span class="username"><%= session[:username] %> </span> </span>
      <a class="logout-but" href="/users/logout">Logout</a>
    </div>
  <% end %>

  <div class="title"> Share your thoughts </div>
</div>