@import "constants";

body, header, footer, .content {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Arial", "sans-serif";
  background-color: $light-grey-color;
  color: $dark-grey-color;
}

.bar {
  height:5px;
}

.message {
  background-color: #ffffff;
  height: 18px;
  margin: 5px 20px 20px 20px;
  padding: 5px 15px;
}

.content {
  min-height: 800px;
  padding: 0 30px 20px 30px;
  /*background-color: #FFFFFF;*/
  @include bg-gradient ;
}


/*form*/
.register_form, .login_form, .thought_form, .user_form {
  display: block;
  border: 1px solid $light-grey-color;
  width: 230px;
  /*margin: 10px auto;*/
  margin: 10px;
  float:right;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 15px $dark-grey-color;

  .form-title {
    height: 20px;
    border-bottom: 1px solid $light-grey-color;
    padding: 10px;
  }

  .error-message {
    color:red;
    font-size: smaller;
    padding-left:5px;
    margin: 10px 10px;
    list-style-type: none;
    li {
      margin: 5px 0;
    }
  }

  form {
    padding: 5px;
  }

  .submit-box {
    height: 46px;
    width: 212px;
  }

  input,textarea {
    color: $dark-grey-color;
    display: block;
    margin: 5px auto;
    height: 25px;
    border: 1px solid $light-grey-color;
    outline: none;
    padding: 5px;
    background-color: #ffffff;
    font-size: 12pt;
    border-radius: 5px;
    box-shadow: inset 0 0 2px $light-grey-color;

    &:focus {
      background-color: $very-light-blue-color;
      box-shadow: inset 0 0 8px -4px $dark-grey-color;
    }
  }

  label {
    font-size: 75%;
    margin-left: 14px;
    margin-top: 5px;
  }

  textarea {
    height: 250px;
    max-width: 197px;
  }

  .checkbox {
    margin: 0px 20px;
    float: right;
    span {
      position: relative;
      top:-7px;
    }
    input {
      display: inline;
      box-shadow: none;
    }
  }

  .submit_button {
    float:right;
    clear:both;
    margin-bottom: 12px;
    padding: 0 10px;
    height:35px;
    color: $dark-grey-color;

    &:hover {
      background-color: $light-blue-color;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .default_button {
    @include text_links;
    font-size: 80%;
    margin-left: 12px;
    position: relative;
    top: 10px;
  }
}

.thought_form {
  float: right;
}

.thoughts_list, .users_list {
  float: left;
  display: block;
  border: 1px solid $light-grey-color;
  width: 600px;
  min-height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 15px $dark-grey-color;

  .main-title {
    height: 10px;
    border-bottom: 1px solid $light-grey-color;
    padding: 15px;
  }

  .thought-item:not(:last-child) {
    border-bottom: 1px solid $light-grey-color;
  }

  .thought-item {
    padding: 15px;

    .title {
      font-weight: bold;
      font-size: 14pt;
      margin: 10px;
    }
    .body {
      margin: 10px;
    }
    .name-time {
      text-align: right;
      font-size: 10pt;
    }
  }
}