@import "constants";

.header {
  display: block;
  background-color: $light-grey-color;
  height:60px;
  
  .title {
    /*display: block;*/
    float:left;
    font-size: 22pt;
    color: $dark-grey-color;
    padding: 12px;
    font-weight: bold;
    width: 300px;
    text-decoration: none;
  }
  nav {
    float:left;
    margin-top:28px;

    a {
      margin:10px;
      @include text_links;
    }
  }

  .user-info {
    float:right;
    margin:10px;
    margin-top: 30px;

    span {
      margin:5px;
    }
    .username {
      color: $dark-grey-color;
      font-weight: bold;
    }

    .header-but {
      text-decoration: none;
      margin: 0 10px;
      color:$dark-grey-color;
      &:hover {
        color: $light-blue-color;  
      }
    }

  }

}

